html,
body {
  height: 100%;
  background-color: #f5f5f5;
}

#map {
    height: 400px;
    width: 100%;
    margin: auto;
    padding: 0 10px;
    box-shadow: rgba(0, 0, 0, 0.5);
  }

  html,
  body {
    height: 100%;
  }

body {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: #f5f5f5;
}

.form-add {
    width: 100%;
    max-width: 450px;
    padding: 15px;
    margin: 0 auto;
  }