/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #333;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
  border-radius: 0.5;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #f5f5f5;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #333;
  text-shadow: 0 .05rem .1rem rgba(245, 245, 245, .5);
  box-shadow: inset 0 0 5rem rgba(245, 245, 245, .5);
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  /* margin-bottom: 10rem; */
}

.masthead-brand {
  margin-bottom: 0;
  color: #4267B2;
}

.masthead-brand:hover{
    color: #6283C5;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(0, 0, 0, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(0, 0, 0, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #333;
  border-bottom-color: #333;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 1rem 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  margin: 1rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(0, 0, 0, .5);
}

/* buttons */

a.custom-button {
  font-weight: 600;
  border: solid 2px rgb(66, 103, 178);
  outline: 0;
  color: rgb(66, 103, 178);
  padding: 1rem 4rem;
  font-size: 1.5rem;
  letter-spacing: 0.08rem;
  background-color: white;
  border-radius: 0.35rem;
  position: relative;
  cursor: pointer;
}
a.custom-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4267B2;
  z-index: -1;
  border-radius: 0.35rem;
  border: solid 2px black;
  transition: all 0.3s ease-in-out;
  border: 0;
  box-shadow: 0px 0px 0px 2px black;
  top: 0.5rem;
  left: 0.5rem;
}
a.custom-button:hover::after {
  top: -0.5rem;
  left: -0.5rem;
  width: calc(100% + 0.5rem * 2);
  height: calc(100% + 0.5rem * 2);
}