
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Cover Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/bidbox/dashboard.css" rel="stylesheet">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-50 w-100 p-3 mx-auto flex-column">
      <header class="masthead mb-5">
          <div class="inner">
              <h3 class="masthead-brand">Agrificient</h3>
              <nav class="nav nav-masthead justify-content-center">
                  <a class="nav-link" href="/dashboard">Home</a>
                  <a class="nav-link" href="/profile">Profile</a>
                  <a class="nav-link" href="/wallet">Wallet</a>
              </nav>
          </div>
      </header>

      <main role="main" class="inner cover">
          <h1 class="cover-heading">Bid Box</h1>
          <p class="lead"></p>

          

          <div class="tabset mt-3">
            <!-- Tab 1 -->
            <input type="radio" name="tabset" id="tab1" aria-controls="OpenBids" checked>
            <label for="tab1">Open Bids</label>
            <!-- Tab 2 -->
            <input type="radio" name="tabset" id="tab2" aria-controls="BidHistory">
            <label for="tab2">History</label>
            <!-- Tab 3 -->
            <input type="radio" name="tabset" id="tab3" aria-controls="Products">
            <label for="tab3">Products</label>
            
            <div class="tab-panels">
              <section id="OpenBids" class="tab-panel">
                <form class="form-add">
                  <h3 class="text-primary mb-3 text-left">Open Bids</h3>
                  <div class="form-group text-left">
                    <label for="pincode">Pincode</label>
                    <input type="text" id="pincode" name="pincode" class="form-control" placeholder="Pincode" required>
                  </div>
                    
                  <a type="button" class="btn btn-primary" onclick="usePincode()"> Use Pincode </a>
      
                </form>
      
                <form class="form-add">
                    <div class="separator">or</div>
                    <a type="button" class="btn btn-success"  onclick="useLocation()"> Use My Location </a>
                </form>
      
                <div id="myOutput" class="mt-4">
                  <div class="jumbotron">
                    <p class="lead font-weight-bold text-muted">Please select the location to view Open Bids</p>
                  </div>
                </div>
                <div id="nobids" class="mt-4" style="display: none;">
                  <div class="jumbotron">
                    <p class="lead font-weight-bold text-muted">No Open Bids in this location.</p>
                  </div>
                </div>
              </section>
              <section id="BidHistory" class="tab-panel">
                <div id="emptyHistory" class="mt-4" style="display: none;">
                  <div class="jumbotron">
                    <p class="lead font-weight-bold text-muted">You have not started any Bids yet.</p>
                  </div>
                </div>
                <div id="bid_history" class="mt-4">
                  
                </div>
              </section>
              <section id="Products" class="tab-panel">
                <div class="row">
                  <div class="col-12">
                    <a type="button" href="/bidbox/add_product" class="btn btn-lg btn-secondary custom-button">Sell Product</a>
                  </div>
                </div>
                <div id="emptyProducts" class="mt-4" style="display: none;">
                  <div class="jumbotron">
                    <p class="lead font-weight-bold text-muted">You have not sold any product yet. Click on the Sell Product Button to start selling.</p>
                  </div>
                </div>
                <div id="user_products" class="mt-4">
                </div>
              </section>
            </div>
            
          </div>

      </main>
  </div>
    
    


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="jquery-slim.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="popper.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="/bidbox/tabs.js"></script>
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtLZdve7jf15PETQYF6TgR05sHZnVdFc4">
</script>

<!-- Jquery Script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  $.get("/bidbox/bid_history", function (data, status) {
    console.log("hello");
        console.log(data);
        var mainContainer = document.getElementById("bid_history");
        mainContainer.innerHTML = "";
        if(data.length==0){
          $("#emptyHistory").show();
        }
        for (var i = 0; i < data.length; i++) {
          console.log(typeof data[i].product_name);
          var div = document.createElement("div");
          div.innerHTML = 
          "<div class='card'>" +
            "<div class='card-body'>" +
              "<div class='row'>" +
                "<div class='col-8'>" +
                  "<h5 class='text-uppercase text-primary text-left'>" + data[i].product_name + "</h5>" +
                "</div>"+
                "<div class='col-4 text-right'>"+
                  "<h6 class='text-right text-dark'> Base Price: " + data[i].base_price + "Rs. </h6>" +
                "</div>" +
              "</div>"+

              "<div class='row'>" +
                "<div class='col-3'>" +
                    "<span class='text-muted'>Quantity: </span>" + data[i].quantity + " " + data[i].unit +
                "</div>" +
                "<div class='col-6'>" +
                    "<span class='text-muted'>Location: </span>" + data[i].district + ", " + data[i].state_name +
                "</div>" +
              "</div>" + 
              "<div class='row mt-1'>" +
                "<div class='col-12 text-left font-weight-bold text-dark'>Bid Timing</div><br/>" +
                "<div class='col-6'>" +
                    "<span class='text-muted'>Start on: </span>" + data[i].start_dt +
                "</div>" +
                "<div class='col-6'>" +
                    "<span class='text-muted'>Ends on: </span>" + data[i].end_dt +
                "</div>" +
              "</div>" +
 
              "<a href='/bidbox/fetch_user_products/"+ data[i].id +"' class='btn btn-primary btn-sm mt-2'>View More</a>"+
            "</div>" +
          "</div>";
        mainContainer.appendChild(div);
        }
      })

    $.get("/bidbox/fetch_user_products", function (data, status) {
      console.log(data);
      var mainContainer = document.getElementById("user_products");
      mainContainer.innerHTML = "";
      if(data.length==0){
          $("#emptyProducts").show();
        }
      for (var i = 0; i < data.length; i++) {
        var div = document.createElement("div");
        div.innerHTML = 
          "<div class='card'>" +
            "<div class='card-body'>" +
              "<div class='row'>" +
                "<div class='col-8'>" +
                  "<h5 class='text-uppercase text-primary text-left'>" + data[i].product_name + "</h5>" +
                "</div>"+
                "<div class='col-4 text-right'>"+
                  "<h6 class='text-right text-dark'> Base Price: " + data[i].base_price + "Rs. </h6>" +
                "</div>" +
              "</div>"+

              "<div class='row'>" +
                "<div class='col-3'>" +
                    "<span class='text-muted'>Quantity: </span>" + data[i].quantity + " " + data[i].unit +
                "</div>" +
                "<div class='col-6'>" +
                    "<span class='text-muted'>Location: </span>" + data[i].district + ", " + data[i].state_name +
                "</div>" +
              "</div>" + 
              "<div class='row mt-1'>" +
                "<div class='col-12 text-left font-weight-bold text-dark'>Bid Timing</div><br/>" +
                "<div class='col-6'>" +
                    "<span class='text-muted'>Start on: </span>" + data[i].start_dt +
                "</div>" +
                "<div class='col-6'>" +
                    "<span class='text-muted'>Ends on: </span>" + data[i].end_dt +
                "</div>" +
              "</div>" +
 
              "<a href='/bidbox/fetch_user_products/"+ data[i].id +"' class='btn btn-primary btn-sm mt-2'>View More</a>"+
            "</div>" +
          "</div>";
        mainContainer.appendChild(div);
    
      }
    })

  function useLocation() {

    //Success Callback 
    const successCallback = (coords) => {
      console.log(coords);
      let data = {
        latitude: coords.coords.latitude,
        longitude: coords.coords.longitude
      }

      $.post("/bidbox/search_open_bid", data, function (data, status) {
          console.log(data);
        var mainContainer = document.getElementById("myOutput");
        mainContainer.innerHTML = "";

        if(data.length==0){
            $("#nobids").show()
        }

        for (var i = 0; i < data.length; i++) {
          var div = document.createElement("div");
          div.innerHTML = 
              "<div class='card'>" +
                "<div class='card-body'>" +
                  "<div class='row'>" +
                    "<div class='col-8'>" +
                      "<h5 class='text-uppercase text-primary text-left'>" + data[i].product_name + "</h5>" +
                    "</div>"+
                    "<div class='col-4 text-right'>"+
                      "<h6 class='text-right text-dark'> Base Price: " + data[i].base_price + "Rs. </h6>" +
                    "</div>" +
                  "</div>"+

                  "<div class='row'>" +
                    "<div class='col-3'>" +
                        "<span class='text-muted'>Quantity: </span>" + data[i].quantity + " " + data[i].unit +
                    "</div>" +
                    "<div class='col-6'>" +
                        "<span class='text-muted'>Location: </span><a href='https://www.google.com/maps/search/?api=1&query=" + data[i].latitude + "%2C" +
            data[i].longitude + "' target = '_Blank'>" + data[i].district + ", " + data[i].state_name + "</a>" +
                    "</div>" +
                  "</div>" + 
                  "<div class='row mt-1'>" +
                    "<div class='col-12 text-left font-weight-bold text-dark'>Bid Timing</div><br/>" +
                    "<div class='col-6'>" +
                        "<span class='text-muted'>Start on: </span>" + data[i].start_dt +
                    "</div>" +
                    "<div class='col-6'>" +
                        "<span class='text-muted'>Ends on: </span>" + data[i].end_dt +
                    "</div>" +
                  "</div>" +
    
                  "<a href='/bidbox/product/"+ data[i].id +"' class='btn btn-primary btn-sm mt-2'>View More</a>"+
                "</div>" +
              "</div>";

          // var link = document.createElement('a');
          // link.href = "https://www.google.com/maps/search/?api=1&query=" + data[i].latitude + "%2C" +
          //   data[i].longitude;
          // link.target = "_Blank"
          // link.innerText = "Location";

          // var link1 = document.createElement('a');
          // link1.href = "/bidbox/product/"+data[i].id;
          // link1.innerText = "View More";

          mainContainer.appendChild(div);
          // mainContainer.appendChild(link);
          // mainContainer.appendChild(link1);
        }
      })

      navigator.geolocation.clearWatch(watchId);

    }

    //Error Callback
    const errorCallback = (error) => {
      console.log(error);
    }

    //Get Location
    const watchId = navigator.geolocation.watchPosition(successCallback, errorCallback);
  }

  function usePincode() {

    let pincode = $("#pincode").val();

    let data = {
      pincode: pincode,
    }

    if (pincode.length != 6) {
      alert("Invalid Pincode");
    } else {
      $.post("/bidbox/search_open_bid", data, function (data, status) {
        console.log(data);
        var mainContainer = document.getElementById("myOutput");
        mainContainer.innerHTML = "";
        if(data.length==0){
            $("#nobids").show()
        }
        for (var i = 0; i < data.length; i++) {
          var div = document.createElement("div");
          div.innerHTML = 
              "<div class='card'>" +
                "<div class='card-body'>" +
                  "<div class='row'>" +
                    "<div class='col-8'>" +
                      "<h5 class='text-uppercase text-primary text-left'>" + data[i].product_name + "</h5>" +
                    "</div>"+
                    "<div class='col-4 text-right'>"+
                      "<h6 class='text-right text-dark'> Base Price: " + data[i].base_price + "Rs. </h6>" +
                    "</div>" +
                  "</div>"+

                  "<div class='row'>" +
                    "<div class='col-3'>" +
                        "<span class='text-muted'>Quantity: </span>" + data[i].quantity + " " + data[i].unit +
                    "</div>" +
                    "<div class='col-6'>" +
                        "<span class='text-muted'>Location: </span><a href='https://www.google.com/maps/search/?api=1&query=" + data[i].latitude + "%2C" +
            data[i].longitude + "' target = '_Blank'>" + data[i].district + ", " + data[i].state_name + "</a>" +
                    "</div>" +
                  "</div>" + 
                  "<div class='row mt-1'>" +
                    "<div class='col-12 text-left font-weight-bold text-dark'>Bid Timing</div><br/>" +
                    "<div class='col-6'>" +
                        "<span class='text-muted'>Start on: </span>" + data[i].start_dt +
                    "</div>" +
                    "<div class='col-6'>" +
                        "<span class='text-muted'>Ends on: </span>" + data[i].end_dt +
                    "</div>" +
                  "</div>" +
                  "<a href='/bidbox/product/" + data[i].id 
                  +"' class='btn btn-primary btn-sm mt-2'>View More</a>" +
                "</div>" +
              "</div>";

         

          mainContainer.appendChild(div);

        }
      })
    }

  }
</script>


  </body>
</html>
















