<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="/bootstrap.min.css">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="/aggregator/searchaggregator.css">
</head>

<body class="text-center">

  <form class="form-add">
    <img src="/logo.svg" alt="" width="150" height="150">
    <h3 class="text-primary mb-3">Search Aggregator</h3>

    <div class="form-group text-left">
      <label for="pincode">Pincode</label>
      <input type="text" id="pincode" name="pincode" class="form-control" placeholder="Pincode" required>
    </div>

    <button class="btn btn-lg btn-primary btn-block mb-1" id="usePincode" type="button"> Use Pincode </button>


  </form>
  <form class="form-add">
    <div class="separator">or</div>

    <a class="btn btn-lg btn-success btn-block mt-1" id="useLocation" type="button"> Use My Location </a>
  </form>



  <div id="myOutput"></div>

  <!-- Google Map Script -->
  <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtLZdve7jf15PETQYF6TgR05sHZnVdFc4">
  </script>

  <!-- Jquery Script -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script>
    $("#useLocation").click(function () {

      //Success Callback 
      const successCallback = (coords) => {

        let data = {
          latitude: coords.coords.latitude,
          longitude: coords.coords.longitude
        }

        $.post("/aggregator/searchaggregator", data, function (data, status) {

          var mainContainer = document.getElementById("myOutput");

          mainContainer.innerHTML = "";

          for (var i = 0; i < data.length; i++) {
            var div = document.createElement("div");
            div.innerHTML = 'AggregatorName: ' + data[i].aggregator_name + ' Phone: ' + data[i]
              .phone + ' Pincode: ' + data[i].pincode + ' Address: ' + data[i]
              .address + ' Description: ' + data[i].description;

            var link = document.createElement('a');
            link.href = "https://www.google.com/maps/search/?api=1&query=" + data[i].latitude + "%2C" +
              data[i].longitude;
            link.target = "_Blank"
            link.innerText = "Location";

            var Whatsapplink = document.createElement('a');
            Whatsapplink.href = data[i].whatsapp;
            Whatsapplink.target = "_Blank"
            Whatsapplink.innerText = "Whatsapp";

            mainContainer.appendChild(div);
            mainContainer.appendChild(link);
            mainContainer.appendChild(document.createTextNode("  "));
            mainContainer.appendChild(Whatsapplink);
          }
        })

        navigator.geolocation.clearWatch(watchId);

      }

      //Error Callback
      const errorCallback = (error) => {
        console.log(error);
      }

      //Get Location
      const watchId = navigator.geolocation.watchPosition(successCallback, errorCallback);
    })

    $("#usePincode").click(function () {

      let pincode = $("#pincode").val();

      let data = {
        pincode: pincode,
      }

      if (pincode.length != 6) {
        alert("Invalid Pincode");
      } else {
        $.post("/aggregator/searchaggregator", data, function (data, status) {
          var mainContainer = document.getElementById("myOutput");
          mainContainer.innerHTML = "";

          for (var i = 0; i < data.length; i++) {
            var div = document.createElement("div");
            div.innerHTML = 'AggregatorName: ' + data[i].aggregator_name + ' Phone: ' + data[i]
              .phone + ' Pincode: ' + data[i].pincode + ' Address: ' + data[i]
              .address + ' Description: ' + data[i].description;

            var link = document.createElement('a');
            link.href = "https://www.google.com/maps/search/?api=1&query=" + data[i].latitude + "%2C" +
              data[i].longitude;
            link.target = "_Blank"
            link.innerText = "Location";

            var Whatsapplink = document.createElement('a');
            Whatsapplink.href = data[i].whatsapp;
            Whatsapplink.target = "_Blank"
            Whatsapplink.innerText = "Whatsapp";

            mainContainer.appendChild(div);
            mainContainer.appendChild(link);
            mainContainer.appendChild(document.createTextNode("  "));
            mainContainer.appendChild(Whatsapplink);

          }
        })
      }

    });
  </script>

</body>

</html>