<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forecasting</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="/bootstrap.min.css">
  <link rel="stylesheet" href="/forecast.css">
</head>

<body class="text-center">

  <form id="forecastForm" class="form-add" action="/forecasting" method="post">
    <img src="/logo.svg" alt="" width="150" height="150">
    <h3 class="text-primary mb-3">Forecasting</h3>
    <div class="form-group text-left">
      <label for="year">Year</label>
      <input type="text" id="year" name="year" class="form-control" required autofocus>
    </div>
    <div class="form-group text-left">
      <label for="district">District</label>
      <select class="form-control" required id="district" name="district">
        <option>24 PARAGANAS NORTH</option>
        <option>24 PARAGANAS SOUTH</option>
        <option>ADILABAD</option>
        <option>AGAR MALWA</option>
        <option>AGRA</option>
        <option>AHMADABAD</option>
        <option>AHMEDNAGAR</option>
        <option>AIZAWL</option>
        <option>AJMER</option>
        <option>AKOLA</option>
        <option>ALAPPUZHA</option>
        <option>ALIGARH</option>
        <option>ALIRAJPUR</option>
        <option>ALLAHABAD</option>

        <option>ALMORA</option>
        <option>ALWAR</option>
        <option>AMBALA</option>
        <option>AMBEDKAR NAGAR</option>
        <option>AMETHI</option>

        <option>AMRAVATI</option>
        <option>AMRELI</option>
        <option>AMRITSAR</option>
        <option>AMROHA</option>
        <option>ANAND</option>
        <option>ANANTAPUR</option>

        <option>ANANTNAG</option>
        <option>ANJAW</option>
        <option>ANUGUL</option>
        <option>ANUPPUR</option>
        <option>ARARIA</option>
        <option>ARIYALUR</option>

        <option>ARWAL</option>
        <option>ASHOKNAGAR</option>
        <option>AURAIYA</option>
        <option>AURANGABAD</option>
        <option>AZAMGARH</option>

        <option>BADGAM</option>
        <option>BAGALKOT</option>
        <option>BAGESHWAR</option>
        <option>BAGHPAT</option>
        <option>BAHRAICH</option>
        <option>BAKSA</option>

        <option>BALAGHAT</option>
        <option>BALANGIR</option>
        <option>BALESHWAR</option>
        <option>BALLIA</option>
        <option>BALOD</option>

        <option>BALODA BAZAR</option>
        <option>BALRAMPUR</option>
        <option>BANAS KANTHA</option>
        <option>BANDA</option>
        <option>BANDIPORA</option>

        <option>BANGALORE RURAL</option>
        <option>BANKA</option>
        <option>BANKURA</option>
        <option>BANSWARA</option>
        <option>BARABANKI</option>

        <option>BARAMULLA</option>
        <option>BARAN</option>
        <option>BARDHAMAN</option>
        <option>BAREILLY</option>
        <option>BARGARH</option>
        <option>BARMER</option>

        <option>BARNALA</option>
        <option>BARPETA</option>
        <option>BARWANI</option>
        <option>BASTAR</option>
        <option>BASTI</option>
        <option>BATHINDA</option>

        <option>BEED</option>
        <option>BEGUSARAI</option>
        <option>BELGAUM</option>
        <option>BELLARY</option>
        <option>BEMETARA</option>

        <option>BENGALURU URBAN</option>
        <option>BETUL</option>
        <option>BHADRAK</option>
        <option>BHAGALPUR</option>
        <option>BHANDARA</option>

        <option>BHARATPUR</option>
        <option>BHARUCH</option>
        <option>BHAVNAGAR</option>
        <option>BHILWARA</option>
        <option>BHIND</option>

        <option>BHIWANI</option>
        <option>BHOJPUR</option>
        <option>BHOPAL</option>
        <option>BIDAR</option>
        <option>BIJAPUR</option>
        <option>BIJNOR</option>

        <option>BIKANER</option>
        <option>BILASPUR</option>
        <option>BIRBHUM</option>
        <option>BISHNUPUR</option>
        <option>BOKARO</option>

        <option>BONGAIGAON</option>
        <option>BOUDH</option>
        <option>BUDAUN</option>
        <option>BULANDSHAHR</option>
        <option>BULDHANA</option>

        <option>BUNDI</option>
        <option>BURHANPUR</option>
        <option>BUXAR</option>
        <option>CACHAR</option>
        <option>CHAMARAJANAGAR</option>

        <option>CHAMBA</option>
        <option>CHAMOLI</option>
        <option>CHAMPAWAT</option>
        <option>CHAMPHAI</option>
        <option>CHANDAULI</option>

        <option>CHANDEL</option>
        <option>CHANDIGARH</option>
        <option>CHANDRAPUR</option>
        <option>CHANGLANG</option>
        <option>CHATRA</option>

        <option>CHHATARPUR</option>
        <option>CHHINDWARA</option>
        <option>CHIKBALLAPUR</option>
        <option>CHIKMAGALUR</option>

        <option>CHIRANG</option>
        <option>CHITRADURGA</option>
        <option>CHITRAKOOT</option>
        <option>CHITTOOR</option>
        <option>CHITTORGARH</option>

        <option>CHURACHANDPUR</option>
        <option>CHURU</option>
        <option>COIMBATORE</option>
        <option>COOCHBEHAR</option>
        <option>CUDDALORE</option>

        <option>CUTTACK</option>
        <option>DADRA AND NAGAR HAVELI</option>
        <option>DAKSHIN KANNAD</option>
        <option>DAMOH</option>

        <option>DANG</option>
        <option>DANTEWADA</option>
        <option>DARBHANGA</option>
        <option>DARJEELING</option>
        <option>DARRANG</option>
        <option>DATIA</option>

        <option>DAUSA</option>
        <option>DAVANGERE</option>
        <option>DEHRADUN</option>
        <option>DEOGARH</option>
        <option>DEOGHAR</option>
        <option>DEORIA</option>

        <option>DEWAS</option>
        <option>DHALAI</option>
        <option>DHAMTARI</option>
        <option>DHANBAD</option>
        <option>DHAR</option>
        <option>DHARMAPURI</option>

        <option>DHARWAD</option>
        <option>DHEMAJI</option>
        <option>DHENKANAL</option>
        <option>DHOLPUR</option>
        <option>DHUBRI</option>
        <option>DHULE</option>

        <option>DIBANG VALLEY</option>
        <option>DIBRUGARH</option>
        <option>DIMA HASAO</option>
        <option>DIMAPUR</option>

        <option>DINAJPUR DAKSHIN</option>
        <option>DINAJPUR UTTAR</option>
        <option>DINDIGUL</option>
        <option>DINDORI</option>

        <option>DODA</option>
        <option>DOHAD</option>
        <option>DUMKA</option>
        <option>DUNGARPUR</option>
        <option>DURG</option>
        <option>EAST DISTRICT</option>

        <option>EAST GARO HILLS</option>
        <option>EAST GODAVARI</option>
        <option>EAST JAINTIA HILLS</option>

        <option>EAST KAMENG</option>
        <option>EAST KHASI HILLS</option>
        <option>EAST SIANG</option>
        <option>EAST SINGHBUM</option>

        <option>ERNAKULAM</option>
        <option>ERODE</option>
        <option>ETAH</option>
        <option>ETAWAH</option>
        <option>FAIZABAD</option>
        <option>FARIDABAD</option>

        <option>FARIDKOT</option>
        <option>FARRUKHABAD</option>
        <option>FATEHABAD</option>
        <option>FATEHGARH SAHIB</option>

        <option>FATEHPUR</option>
        <option>FAZILKA</option>
        <option>FIROZABAD</option>
        <option>FIROZEPUR</option>
        <option>GADAG</option>

        <option>GADCHIROLI</option>
        <option>GAJAPATI</option>
        <option>GANDERBAL</option>
        <option>GANDHINAGAR</option>
        <option>GANGANAGAR</option>

        <option>GANJAM</option>
        <option>GARHWA</option>
        <option>GARIYABAND</option>
        <option>GAUTAM BUDDHA NAGAR</option>
        <option>GAYA</option>

        <option>GHAZIABAD</option>
        <option>GHAZIPUR</option>
        <option>GIRIDIH</option>
        <option>GOALPARA</option>
        <option>GODDA</option>

        <option>GOLAGHAT</option>
        <option>GOMATI</option>
        <option>GONDA</option>
        <option>GONDIA</option>
        <option>GOPALGANJ</option>
        <option>GORAKHPUR</option>

        <option>GULBARGA</option>
        <option>GUMLA</option>
        <option>GUNA</option>
        <option>GUNTUR</option>
        <option>GURDASPUR</option>
        <option>GURGAON</option>

        <option>GWALIOR</option>
        <option>HAILAKANDI</option>
        <option>HAMIRPUR</option>
        <option>HANUMANGARH</option>
        <option>HAPUR</option>

        <option>HARDA</option>
        <option>HARDOI</option>
        <option>HARIDWAR</option>
        <option>HASSAN</option>
        <option>HATHRAS</option>
        <option>HAVERI</option>

        <option>HAZARIBAGH</option>
        <option>HINGOLI</option>
        <option>HISAR</option>
        <option>HOOGHLY</option>
        <option>HOSHANGABAD</option>

        <option>HOSHIARPUR</option>
        <option>HOWRAH</option>
        <option>HYDERABAD</option>
        <option>IDUKKI</option>
        <option>IMPHAL EAST</option>

        <option>IMPHAL WEST</option>
        <option>INDORE</option>
        <option>JABALPUR</option>
        <option>JAGATSINGHAPUR</option>
        <option>JAIPUR</option>

        <option>JAISALMER</option>
        <option>JAJAPUR</option>
        <option>JALANDHAR</option>
        <option>JALAUN</option>
        <option>JALGAON</option>
        <option>JALNA</option>

        <option>JALORE</option>
        <option>JALPAIGURI</option>
        <option>JAMMU</option>
        <option>JAMNAGAR</option>
        <option>JAMTARA</option>
        <option>JAMUI</option>

        <option>JANJGIR-CHAMPA</option>
        <option>JASHPUR</option>
        <option>JAUNPUR</option>
        <option>JEHANABAD</option>
        <option>JHABUA</option>

        <option>JHAJJAR</option>
        <option>JHALAWAR</option>
        <option>JHANSI</option>
        <option>JHARSUGUDA</option>
        <option>JHUNJHUNU</option>
        <option>JIND</option>

        <option>JODHPUR</option>
        <option>JORHAT</option>
        <option>JUNAGADH</option>
        <option>KABIRDHAM</option>
        <option>KACHCHH</option>
        <option>KADAPA</option>

        <option>KAIMUR (BHABUA)</option>
        <option>KAITHAL</option>
        <option>KALAHANDI</option>
        <option>KAMRUP</option>

        <option>KAMRUP METRO</option>
        <option>KANCHIPURAM</option>
        <option>KANDHAMAL</option>
        <option>KANGRA</option>
        <option>KANKER</option>

        <option>KANNAUJ</option>
        <option>KANNIYAKUMARI</option>
        <option>KANNUR</option>
        <option>KANPUR DEHAT</option>

        <option>KANPUR NAGAR</option>
        <option>KAPURTHALA</option>
        <option>KARAIKAL</option>
        <option>KARAULI</option>

        <option>KARBI ANGLONG</option>
        <option>KARGIL</option>
        <option>KARIMGANJ</option>
        <option>KARIMNAGAR</option>
        <option>KARNAL</option>

        <option>KARUR</option>
        <option>KASARAGOD</option>
        <option>KASGANJ</option>
        <option>KATHUA</option>
        <option>KATIHAR</option>
        <option>KATNI</option>

        <option>KAUSHAMBI</option>
        <option>KENDRAPARA</option>
        <option>KENDUJHAR</option>
        <option>KHAGARIA</option>
        <option>KHAMMAM</option>

        <option>KHANDWA</option>
        <option>KHARGONE</option>
        <option>KHEDA</option>
        <option>KHERI</option>
        <option>KHORDHA</option>
        <option>KHOWAI</option>

        <option>KHUNTI</option>
        <option>KINNAUR</option>
        <option>KIPHIRE</option>
        <option>KISHANGANJ</option>
        <option>KISHTWAR</option>
        <option>KODAGU</option>

        <option>KODERMA</option>
        <option>KOHIMA</option>
        <option>KOKRAJHAR</option>
        <option>KOLAR</option>
        <option>KOLASIB</option>
        <option>KOLHAPUR</option>

        <option>KOLLAM</option>
        <option>KONDAGAON</option>
        <option>KOPPAL</option>
        <option>KORAPUT</option>
        <option>KORBA</option>
        <option>KOREA</option>

        <option>KOTA</option>
        <option>KOTTAYAM</option>
        <option>KOZHIKODE</option>
        <option>KRISHNA</option>
        <option>KRISHNAGIRI</option>

        <option>KULGAM</option>
        <option>KULLU</option>
        <option>KUPWARA</option>
        <option>KURNOOL</option>
        <option>KURUKSHETRA</option>

        <option>KURUNG KUMEY</option>
        <option>KUSHI NAGAR</option>
        <option>LAHUL AND SPITI</option>
        <option>LAKHIMPUR</option>

        <option>LAKHISARAI</option>
        <option>LALITPUR</option>
        <option>LATEHAR</option>
        <option>LATUR</option>
        <option>LAWNGTLAI</option>

        <option>LEH LADAKH</option>
        <option>LOHARDAGA</option>
        <option>LOHIT</option>
        <option>LONGDING</option>
        <option>LONGLENG</option>

        <option>LOWER DIBANG VALLEY</option>
        <option>LOWER SUBANSIRI</option>
        <option>LUCKNOW</option>
        <option>LUDHIANA</option>

        <option>LUNGLEI</option>
        <option>MADHEPURA</option>
        <option>MADHUBANI</option>
        <option>MADURAI</option>
        <option>MAHARAJGANJ</option>

        <option>MAHASAMUND</option>
        <option>MAHBUBNAGAR</option>
        <option>MAHE</option>
        <option>MAHENDRAGARH</option>
        <option>MAHESANA</option>

        <option>MAHOBA</option>
        <option>MAINPURI</option>
        <option>MALAPPURAM</option>
        <option>MALDAH</option>
        <option>MALKANGIRI</option>

        <option>MAMIT</option>
        <option>MANDI</option>
        <option>MANDLA</option>
        <option>MANDSAUR</option>
        <option>MANDYA</option>
        <option>MANSA</option>

        <option>MARIGAON</option>
        <option>MATHURA</option>
        <option>MAU</option>
        <option>MAYURBHANJ</option>
        <option>MEDAK</option>

        <option>MEDINIPUR EAST</option>
        <option>MEDINIPUR WEST</option>
        <option>MEERUT</option>
        <option>MEWAT</option>
        <option>MIRZAPUR</option>

        <option>MOGA</option>
        <option>MOKOKCHUNG</option>
        <option>MON</option>
        <option>MORADABAD</option>
        <option>MORENA</option>
        <option>MUKTSAR</option>

        <option>MUMBAI</option>
        <option>MUNGELI</option>
        <option>MUNGER</option>
        <option>MURSHIDABAD</option>
        <option>MUZAFFARNAGAR</option>

        <option>MUZAFFARPUR</option>
        <option>MYSORE</option>
        <option>NABARANGPUR</option>
        <option>NADIA</option>
        <option>NAGAON</option>

        <option>NAGAPATTINAM</option>
        <option>NAGAUR</option>
        <option>NAGPUR</option>
        <option>NAINITAL</option>
        <option>NALANDA</option>

        <option>NALBARI</option>
        <option>NALGONDA</option>
        <option>NAMAKKAL</option>
        <option>NAMSAI</option>
        <option>NANDED</option>
        <option>NANDURBAR</option>

        <option>NARAYANPUR</option>
        <option>NARMADA</option>
        <option>NARSINGHPUR</option>
        <option>NASHIK</option>
        <option>NAVSARI</option>

        <option>NAWADA</option>
        <option>NAWANSHAHR</option>
        <option>NAYAGARH</option>
        <option>NEEMUCH</option>
        <option>NICOBARS</option>

        <option>NIZAMABAD</option>
        <option>NORTH AND MIDDLE ANDAMAN</option>
        <option>NORTH DISTRICT</option>

        <option>NORTH GARO HILLS</option>
        <option>NORTH GOA</option>
        <option>NORTH TRIPURA</option>
        <option>NUAPADA</option>

        <option>OSMANABAD</option>
        <option>PAKUR</option>
        <option>PALAKKAD</option>
        <option>PALAMU</option>
        <option>PALGHAR</option>
        <option>PALI</option>

        <option>PALWAL</option>
        <option>PANCH MAHALS</option>
        <option>PANCHKULA</option>
        <option>PANIPAT</option>
        <option>PANNA</option>

        <option>PAPUM PARE</option>
        <option>PARBHANI</option>
        <option>PASHCHIM CHAMPARAN</option>
        <option>PATAN</option>

        <option>PATHANAMTHITTA</option>
        <option>PATHANKOT</option>
        <option>PATIALA</option>
        <option>PATNA</option>
        <option>PAURI GARHWAL</option>

        <option>PERAMBALUR</option>
        <option>PEREN</option>
        <option>PHEK</option>
        <option>PILIBHIT</option>
        <option>PITHORAGARH</option>

        <option>PONDICHERRY</option>
        <option>POONCH</option>
        <option>PORBANDAR</option>
        <option>PRAKASAM</option>
        <option>PRATAPGARH</option>

        <option>PUDUKKOTTAI</option>
        <option>PULWAMA</option>
        <option>PUNE</option>
        <option>PURBI CHAMPARAN</option>
        <option>PURI</option>

        <option>PURNIA</option>
        <option>PURULIA</option>
        <option>RAE BARELI</option>
        <option>RAICHUR</option>
        <option>RAIGAD</option>
        <option>RAIGARH</option>

        <option>RAIPUR</option>
        <option>RAISEN</option>
        <option>RAJAURI</option>
        <option>RAJGARH</option>
        <option>RAJKOT</option>
        <option>RAJNANDGAON</option>

        <option>RAJSAMAND</option>
        <option>RAMANAGARA</option>
        <option>RAMANATHAPURAM</option>
        <option>RAMBAN</option>
        <option>RAMGARH</option>

        <option>RAMPUR</option>
        <option>RANCHI</option>
        <option>RANGAREDDI</option>
        <option>RATLAM</option>
        <option>RATNAGIRI</option>

        <option>RAYAGADA</option>
        <option>REASI</option>
        <option>REWA</option>
        <option>REWARI</option>
        <option>RI BHOI</option>
        <option>ROHTAK</option>

        <option>ROHTAS</option>
        <option>RUDRA PRAYAG</option>
        <option>RUPNAGAR</option>
        <option>S.A.S NAGAR</option>

        <option>SABAR KANTHA</option>
        <option>SAGAR</option>
        <option>SAHARANPUR</option>
        <option>SAHARSA</option>
        <option>SAHEBGANJ</option>

        <option>SAIHA</option>
        <option>SALEM</option>
        <option>SAMASTIPUR</option>
        <option>SAMBA</option>
        <option>SAMBALPUR</option>
        <option>SAMBHAL</option>

        <option>SANGLI</option>
        <option>SANGRUR</option>
        <option>SANT KABEER NAGAR</option>
        <option>SANT RAVIDAS NAGAR</option>

        <option>SARAIKELA KHARSAWAN</option>
        <option>SARAN</option>
        <option>SATARA</option>
        <option>SATNA</option>

        <option>SAWAI MADHOPUR</option>
        <option>SEHORE</option>
        <option>SENAPATI</option>
        <option>SEONI</option>
        <option>SEPAHIJALA</option>

        <option>SERCHHIP</option>
        <option>SHAHDOL</option>
        <option>SHAHJAHANPUR</option>
        <option>SHAJAPUR</option>
        <option>SHAMLI</option>

        <option>SHEIKHPURA</option>
        <option>SHEOHAR</option>
        <option>SHEOPUR</option>
        <option>SHIMLA</option>
        <option>SHIMOGA</option>

        <option>SHIVPURI</option>
        <option>SHOPIAN</option>
        <option>SHRAVASTI</option>
        <option>SIDDHARTH NAGAR</option>
        <option>SIDHI</option>

        <option>SIKAR</option>
        <option>SIMDEGA</option>
        <option>SINDHUDURG</option>
        <option>SINGRAULI</option>
        <option>SIRMAUR</option>
        <option>SIROHI</option>

        <option>SIRSA</option>
        <option>SITAMARHI</option>
        <option>SITAPUR</option>
        <option>SIVAGANGA</option>
        <option>SIVASAGAR</option>
        <option>SIWAN</option>

        <option>SOLAN</option>
        <option>SOLAPUR</option>
        <option>SONBHADRA</option>
        <option>SONEPUR</option>
        <option>SONIPAT</option>
        <option>SONITPUR</option>

        <option>SOUTH ANDAMANS</option>
        <option>SOUTH DISTRICT</option>
        <option>SOUTH GARO HILLS</option>

        <option>SOUTH GOA</option>
        <option>SOUTH TRIPURA</option>
        <option>SOUTH WEST GARO HILLS</option>

        <option>SOUTH WEST KHASI HILLS</option>
        <option>SPSR NELLORE</option>
        <option>SRIKAKULAM</option>
        <option>SRINAGAR</option>

        <option>SUKMA</option>
        <option>SULTANPUR</option>
        <option>SUNDARGARH</option>
        <option>SUPAUL</option>
        <option>SURAJPUR</option>
        <option>SURAT</option>

        <option>SURENDRANAGAR</option>
        <option>SURGUJA</option>
        <option>TAMENGLONG</option>
        <option>TAPI</option>
        <option>TARN TARAN</option>

        <option>TAWANG</option>
        <option>TEHRI GARHWAL</option>
        <option>THANE</option>
        <option>THANJAVUR</option>
        <option>THE NILGIRIS</option>

        <option>THENI</option>
        <option>THIRUVALLUR</option>
        <option>THIRUVANANTHAPURAM</option>
        <option>THIRUVARUR</option>

        <option>THOUBAL</option>
        <option>THRISSUR</option>
        <option>TIKAMGARH</option>
        <option>TINSUKIA</option>
        <option>TIRAP</option>

        <option>TIRUCHIRAPPALLI</option>
        <option>TIRUNELVELI</option>
        <option>TIRUPPUR</option>
        <option>TIRUVANNAMALAI</option>

        <option>TONK</option>
        <option>TUENSANG</option>
        <option>TUMKUR</option>
        <option>TUTICORIN</option>
        <option>UDAIPUR</option>
        <option>UDALGURI</option>

        <option>UDAM SINGH NAGAR</option>
        <option>UDHAMPUR</option>
        <option>UDUPI</option>
        <option>UJJAIN</option>
        <option>UKHRUL</option>

        <option>UMARIA</option>
        <option>UNA</option>
        <option>UNAKOTI</option>
        <option>UNNAO</option>
        <option>UPPER SIANG</option>

        <option>UPPER SUBANSIRI</option>
        <option>UTTAR KANNAD</option>
        <option>UTTAR KASHI</option>
        <option>VADODARA</option>

        <option>VAISHALI</option>
        <option>VALSAD</option>
        <option>VARANASI</option>
        <option>VELLORE</option>
        <option>VIDISHA</option>

        <option>VILLUPURAM</option>
        <option>VIRUDHUNAGAR</option>
        <option>VISAKHAPATANAM</option>
        <option>VIZIANAGARAM</option>

        <option>WARANGAL</option>
        <option>WARDHA</option>
        <option>WASHIM</option>
        <option>WAYANAD</option>
        <option>WEST DISTRICT</option>

        <option>WEST GARO HILLS</option>
        <option>WEST GODAVARI</option>
        <option>WEST JAINTIA HILLS</option>

        <option>WEST KAMENG</option>
        <option>WEST KHASI HILLS</option>
        <option>WEST SIANG</option>
        <option>WEST SINGHBHUM</option>

        <option>WEST TRIPURA</option>
        <option>WOKHA</option>
        <option>YADGIR</option>
        <option>YAMUNANAGAR</option>
        <option>YANAM</option>

        <option>YAVATMAL</option>
        <option>ZUNHEBOTO'
      </select>
    </div>


    <div class="form-group text-left">
      <label for="crop">Crop</label>
      <select class="form-control" id="crop" name="crop" required>
        <option>Apple</option>
        <option>Arcanut (Processed)</option>
        <option>Arecanut</option>
        <option>Arhar/Tur</option>

        <option>Ash Gourd</option>
        <option>Atcanut (Raw)</option>
        <option>Bajra</option>
        <option>Banana</option>
        <option>Barley</option>
        <option>Bean</option>

        <option>Beans & Mutter(Vegetable)</option>
        <option>Beet Root</option>
        <option>Ber</option>
        <option>Bhindi</option>

        <option>Bitter Gourd</option>
        <option>Black pepper</option>
        <option>Blackgram</option>
        <option>Bottle Gourd</option>

        <option>Brinjal</option>
        <option>Cabbage</option>
        <option>Cardamom</option>
        <option>Carrot</option>
        <option>Cashewnut</option>

        <option>Cashewnut Processed</option>
        <option>Cashewnut Raw</option>
        <option>Castor seed</option>

        <option>Cauliflower</option>
        <option>Citrus Fruit</option>
        <option>Coconut
        <option>,
        <option>Coffee</option>
        <option>Colocosia</option>

        <option>Cond-spcs other</option>
        <option>Coriander</option>
        <option>Cotton(lint)</option>
        <option>Cowpea(Lobia)</option>

        <option>Cucumber</option>
        <option>Drum Stick</option>
        <option>Dry chillies</option>
        <option>Dry ginger</option>
        <option>Garlic</option>

        <option>Ginger</option>
        <option>Gram</option>
        <option>Grapes</option>
        <option>Groundnut</option>
        <option>Guar seed</option>
        <option>Horse-gram</option>

        <option>Jack Fruit</option>
        <option>Jobster</option>
        <option>Jowar</option>
        <option>Jute</option>
        <option>Jute & mesta</option>
        <option>Kapas</option>

        <option>Khesari</option>
        <option>Korra</option>
        <option>Lab-Lab</option>
        <option>Lemon</option>
        <option>Lentil</option>
        <option>Linseed</option>

        <option>Litchi</option>
        <option>Maize</option>
        <option>Mango</option>
        <option>Masoor</option>
        <option>Mesta</option>
        <option>Moong(Green Gram)</option>

        <option>Moth</option>
        <option>Niger seed</option>
        <option>Oilseeds total</option>
        <option>Onion</option>
        <option>Orange</option>

        <option>Other Rabi pulses</option>
        <option>Other Cereals & Millets</option>

        <option>Other Citrus Fruit</option>
        <option>Other Dry Fruit</option>
        <option>Other Fresh Fruits</option>

        <option>Other Kharif pulses</option>
        <option>Other Vegetables</option>
        <option>Paddy</option>
        <option>Papaya</option>

        <option>Peach</option>
        <option>Pear</option>
        <option>Peas (vegetable)</option>
        <option>Peas & beans (Pulses)</option>

        <option>Perilla</option>
        <option>Pineapple</option>
        <option>Plums</option>
        <option>Pome Fruit</option>
        <option>Pome Granet</option>

        <option>Potato</option>
        <option>Pulses total</option>
        <option>Pump Kin</option>
        <option>Ragi</option>
        <option>Rajmash Kholar</option>

        <option>Rapeseed &Mustard</option>
        <option>Redish</option>
        <option>Ribed Guard</option>
        <option>Rice</option>

        <option>Ricebean (nagadal)</option>
        <option>Rubber</option>
        <option>Safflower</option>
        <option>Samai</option>
        <option>Sannhamp</option>

        <option>Sapota</option>
        <option>Sesamum</option>
        <option>Small millets</option>
        <option>Snak Guard</option>
        <option>Soyabean</option>

        <option>Sugarcane</option>
        <option>Sunflower</option>
        <option>Sweet potato</option>
        <option>Tapioca</option>
        <option>Tea</option>

        <option>Tobacco</option>
        <option>Tomato</option>
        <option>Total foodgrain</option>
        <option>Turmeric</option>
        <option>Turnip</option>

        <option>Urad</option>
        <option>Varagu</option>
        <option>Water Melon</option>
        <option>Wheat</option>
        <option>Yam</option>
        <option>other fibres</option>

        <option>other misc. pulses</option>
        <option>other oilseeds'
      </select>
    </div>
    <div class="form-group text-left">
      <label for="season">Season</label>
      <select class="form-control" required id="season" name="season">
        <option>Rabi</option>
        <option>Kharif</option>
        <option>Autumn</option>
        <option>Summer</option>
        <option>Winter</option>
        <option>Annual</option>
      </select>
    </div>

    <a class="btn btn-lg btn-success btn-block mt-1" id="submit" type="button" onclick="submit()"> Forecasting </a>

    <div id="myOutput">

    </div>

  </form>

  <!-- Jquery Script -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script>
    function submit() {

      var form = $("#forecastForm");
      var mainContainer = document.getElementById("myOutput");

      $.post("/forecasting", form.serialize(), function (output, status) {
        console.log(output);
        mainContainer.innerHTML = "<div class='row mt-3 mb-3'>" +
          "<div class='col-12'>" +
          "<div class='card'>" +
          "<div class='card-body'>" +
          "<h5 class='text-left text-muted font-weight-bold'>Tentative Production:</h5>" +
          "<p class='card-text text-right font-weight-bold text-dark' style='font-size: 2rem;'>" + output.output
          .slice(1, output.output.length - 1) +
          "</p>" +
          "</div>" +
          "</div>" +
          "</div>";
      })
    }
  </script>

</body>


</html>